.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manualEntryContainer {
  display: flex;
  width: 900px;
  justify-content:center;
}

.manualEntryContainer > :first-child {
  margin-right: 20px;
}

.scanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scanInput {
  width: 800px;
}
