.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.inputContainer > span {
  font-size: 1rem;
  margin-right: 10px;
}

.inputContainer > input {
  margin-right: 10px;
}

.h2 {
  margin-top: 20px;
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center; /* right-aligned */
}

.buttonContainer button {
  padding: 0.5rem 1rem;
  background-color: rgb(0, 55, 103);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: rgb(20, 124, 189);
}

.buttonContainer > input {
  margin-right: 10px;
}