.container, .stagedOrdersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manualEntryContainer {
  display: flex;
  width: 900px;
  justify-content:space-around;
}

.scanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scanInput {
  width: 800px;
}

.stagedOrdersContainer {
  margin-top: 20px;
}

.alternativeText {
  text-align: center;
  font-style: italic;
  color: gray;
  padding: 20px;
  border: none !important;
}


.tableInput {
  width: 100%;
  box-sizing: border-box;
  padding: 2px 4px;
  font-size: 0.9rem;
}

.tableBoxInput {
  width: 37%;
  padding: 2px 4px;
  font-size: 0.9rem;
}